
/* CLICK TV MUNDIAL V11.5 - PANTALLA GIGANTE */

.stadium-card{
 background:
 radial-gradient(circle at top,#244d7a,#07111d);
 color:white;
 border-radius:24px;
 padding:25px;
 margin:20px 0;
 box-shadow:0 0 35px rgba(0,0,0,.5);
}

.stadium-card.is-live{
 border:3px solid #ff2222;
 animation:pulsoLive 1.5s infinite;
}

@keyframes pulsoLive{
 50%{box-shadow:0 0 35px red;}
}

.stadium-status{
 text-align:center;
 font-weight:900;
 font-size:20px;
}

.stadium-teams{
 display:flex;
 justify-content:center;
 align-items:center;
 gap:30px;
}

.stadium-team{
 text-align:center;
 font-weight:bold;
 flex:1;
}

.team-shield{
 width:90px;
 height:90px;
 object-fit:contain;
 animation:flotarEscudo 3s infinite;
}

@keyframes flotarEscudo{
 50%{transform:translateY(-8px);}
}

.stadium-score strong{
 font-size:50px;
 display:block;
 text-align:center;
}

.stadium-time{
 display:block;
 text-align:center;
}
